<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="nav-brend"><a href="/" class="navbar-brand">News</a></div>

        <ul class="navbar-nav">
            <ng-template [ngIf]="authService.isLoggedIn()">
                <li><a *ngIf="authService.isLoggedIn()" routerLink="" class="nav-link">Home</a></li>
                <li><a *ngIf="authService.isLoggedIn()" routerLink="/create-post" class="nav-link">Add New Post</a></li>
                <li [routerLink]="'/category/Business'" class="nav-link">Business</li>
                <li [routerLink]="'/category/Sports'" class="nav-link">Sports</li>
                <div class="drop-relative">
                    <li class="nav-link">Technology</li>
                    <div class="drop-block">
                        <li [routerLink]="'/category/Mobile'">Mobile</li>
                        <li [routerLink]="'/category/Gadgets'">Gadgets</li>
                        <li [routerLink]="'/category/Internet'">Internet</li>
                    </div>
                </div>
                <li [routerLink]="'/category/Entertainment'" class="nav-link">Entertainment</li>
                <!-- <li *ngFor="let category of categories"><a *ngIf="authService.isLoggedIn()" [routerLink]="'/category/' + category.name" class="nav-link">{{category.name}}</a></li> -->
            </ng-template>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <ng-template [ngIf]="!authService.isLoggedIn()">
                <li><a routerLink="/login" class="nav-link">Log In</a></li>
            </ng-template>
            <ng-template [ngIf]="!authService.isLoggedIn()">
                <li><a routerLink="/sign-up" class="nav-link">Sign Up</a></li>
            </ng-template>
            <ng-template [ngIf]="authService.isLoggedIn()">
                <li><a routerLink="/favorites" class="nav-link">My favorites</a></li>
            </ng-template>
            <ng-template [ngIf]="authService.isLoggedIn()">
                <li><a (click)="onLogout()" routerLink="/logout" class="nav-link">Logout</a></li>
            </ng-template>
        </ul>
    </nav>
</header>
<br><br>