ul li {
    height: 38px;
    cursor: pointer;
}

.drop-relative {
    position: relative;

}

.drop-relative:hover .drop-block {
    margin-top: -5px;
    display: block;
    padding-left: 10%;

}

.drop-block {
    background-color: #212529;
    color: #9b9d9e;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    display: none;
    z-index: 2;
}

.nav-brend {
    margin-left: 1%;
}