<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.github.com/starinac" class="navbar-brand">News</a></div>

        <ul class="navbar-nav">
            <!-- <ng-template [ngIf]="authService.isAuthenticated()"> -->
            <li routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/news" class="nav-link">News</a></li>
            <!-- </ng-template> -->
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <!-- <ng-template [ngIf]="!authService.isAuthenticated()"> -->
                <li><a routerLink="/login" class="nav-link">Log In</a></li>
            <!-- </ng-template> -->
            <!-- <ng-template [ngIf]="!authService.isAuthenticated()"> -->
                <li><a routerLink="/sign-up" class="nav-link">Sign Up</a></li>
            <!-- </ng-template> -->
            <!-- <ng-template [ngIf]="authService.isAuthenticated()"> -->
                <!-- <li><a (click)="onLogout()" routerLink="/logout" class="nav-link">Logout</a></li> -->
                <li><a routerLink="/logout" class="nav-link">Log out</a></li>
            <!-- </ng-template> -->
        </ul>
    </nav>
</header>
<br><br>