<!-- <form [formGroup]="formGroup">
  <p>title:</p>
  <input formControlName="title">
  <p>content:</p>
  <input formControlName="content">
  <p>source:</p>
  <input formControlName="source">
  <div>

    <input type="file" (change)="onFileChanged($event)">

    <img [src]="imageUrl" height="200" *ngIf="imageUrl">

  </div>

  <hr /> -->

<!-- {{ convertedImage }} -->
<!-- <img [src]="sanitize('data:image/jpg;base64, ' + arrayBufferToBase64(convertedImage))" *ngIf="convertedImage"/> -->
<!-- <button type="submit" (click)="submit()" [disabled]="formGroup.invalid">
    Create
  </button>
</form>
<div *ngIf="added" class="text-center text-success">{{added}}</div> -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-8">
      <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <div class="form-group">
          <div class="create-post-heading">Create Post</div>
          <hr />
          <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
            placeholder="Title">

          <input type="text" class="form-control" [formControlName]="'source'" style="margin-top: 5px"
            placeholder="Source">

          <select (change)="onSelect($event)" class="form-control" style="margin-top: 5px"
            [formControlName]="'categoryName'">
            <option value="" selected disabled>Select Category</option>
            <option *ngFor="let category of mainCategories" value="{{category.id}}">{{category.name}}</option>
          </select>

          <select class="form-control" style="margin-top: 5px" [formControlName]="'subCategoryName'">
            <option value="" selected disabled>Select Subcategory</option>
            <option *ngFor="let category of subCategories" value="{{category.id}}">{{category.name}}</option>
          </select>

          <div>

            <input type="file" (change)="onFileChanged($event)">

            <img [src]="imageUrl" height="200" *ngIf="imageUrl">

          </div>

          <!-- <select class="form-control" style="margin-top: 10px" [formControlName]="'subredditName'">
            <option value="" selected disabled>Select Subreddit</option>
            <option *ngFor="let subreddit of subreddits">{{subreddit.name}}</option>
          </select> -->

          <editor [formControlName]="'content'" [init]="{
                      height: 500,
                      menubar: false,
                      plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                      ],
                      toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
                    }"></editor>
          <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discardPost()" class="btnDiscard">Discard</button>
              <button class="btnCreatePost">Post</button>
            </div>
          </span>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <button class="favorite-button" (click)="importNews()"><i class="fa fa-cloud-download"></i> Import sport news</button>
    </div>
  </div>
</div>