<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <h2 class="text-muted">News</h2>
        <hr>
    </div>
    <div class="row">
        <!-- posts -->
        <div class="col-md-8">
            <div *ngFor="let post of posts">
                <div class="panel blog-container">
                    <div class="panel-body">
                        <div class="image-wrapper">
                            <a class="image-wrapper image-zoom cboxElement" href="#">
                                <img *ngIf="post.image" class="image" [src]="'data:image/jpeg;base64,' + post.image.pic" alt="Photo of Blog">
                                <img *ngIf="post.imageUrl" class="image" src="{{post.imageUrl}}" alt="Photo of Blog">
                                <!-- <div class="image-overlay"></div> -->
                            </a>
                        </div>

                        <small class="text-muted">By <a href="#"><strong> {{post.source}}</strong></a> | {{this.setDateTime(post.datePublished)}} |
                            {{post.commentCount || 0}}
                            comments</small>

                        <p class="m-top-sm m-bottom-sm post-title">
                            {{post.title}}
                        </p>
                        <a *ngIf="!post.urlToPost" [routerLink]="['/news', post.postId]"><i class="fa fa-angle-double-right"></i> Read more</a>
                        <a *ngIf="post.urlToPost" href="{{post.urlToPost}}" target="_blank"><i class="fa fa-angle-double-right"></i> Read more</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>